.navigation {
  background-color: #ff7f50;
}
.product-list {
  background-color: #006400;
}
.news {
  background-color: #0ff;
}
div {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
}
@import "layout.scss";

@include for-large {
  .content {
    display: flex;
  }
  div {
    flex: 1 0;
  }
}

@include for-medium {
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  div {
    width: 300px;
    flex-grow: 1;
  }
}
